body {
    background-color: #ededed;
    padding-left:  10px;
    margin-left: -55px;
    font-family: 'system-ui';
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  
}
#aviso-movil-horizontal {
            display: none;
        }
    
@media only screen and (orientation:portrait) {
    #wrapper {
        display: none;
    }
    #aviso-movil-horizontal {
        display: block;
    }
}
@media only screen and (orientation:landscape) {
    #aviso-movil-horizontal {
        display: none;
    }

}
/* ---------------------- */
@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(-360deg);}}
/* ----------------------------- */

.rotate{
    color: rgb(224, 224, 224);
    font-size: 30px;
    position:relative;
    left:-55px;
    top:-47px; 
    -webkit-animation: 10s rotate linear infinite;
    animation: 10s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.phone{
    font-size: 150px;
    position:relative;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}


/* --------------------------------------- */

.wrapper{
    position:relative;
    z-index: 0;
}
/* -------------------- */
.title {
    padding: 0;
    margin: 0;
}
.aviso{
    border: 1px solid red;
    color: gray;
    text-align: center;
    margin-top: 50px;
    margin-left: 60px;

}
#padre .graph{
    /* margin-top: -0px; */
    width: 90%;
}
#padre .menuButtons{
    display: grid;
    width: 10%;
    margin-right: 50px;
    transition:  all 1s;

}

#padre{
    width: 90%;
    height:90%;
    display: flex;
    margin-left: 3em;
    /* margin-top: 1em; */
    position:relative;
}
button{
    border: none;
    border-radius: 3px;
    border-bottom: 1px solid rgb(212, 212, 212);
    font-size: 30px;
    color:gray;
    outline: none;
    transition:  all 0.5s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
           

}
button:hover{
    color:#0491e2;
    font-size: 35px;
    cursor: pointer;
    box-shadow:  inset 0px -1px 60px rgb(209, 209, 209),
            0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
            0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
            0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}
.heart:hover{
    color:#f03e3e;
}
.heart{
    color:#eb617f;

}
h1{
    margin-top: 0;
    text-align: center;
    height: 10%;
    color:#034475;
}
.instrucciones{
    padding-top: 10px;
    text-align: center;    
    color: gray;
}

.subtitle{
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: 13px;
    color:gray;
}
.legend{
    font-size: 11px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin:auto;
    color: #034475;
    border: 1px dashed rgb(216, 215, 215);
}
/* git */
.git {
    top: 0;
    left: 0;
    position: relative;
    z-index: 100;
}
@media only screen and (max-width:800px){
    #padre{
        width: 100%;
        height:90%;
        display: grid;
        margin: 3em;
    }
    #padre .graph{
        width: 90%;
    }
    #padre .menuButtons{
        display: flex;
        justify-content: center;
        width: 83%;
        margin-right: 50px;

    }
    .subtitle{
        margin:auto;
        top: -22px;
    }

}
